/* Global styles */

body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'PokemonGb-RAeo';
  src: local('PokemonGb-RAeo'), url(@assets/PokemonGb-RAeo.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
